mixin b-stories()
	+b('div').stories
		+e.head
			+e('span').span Our trader's success stories
			+e('span').span Read every story
		+e.navigation
			+b('ul').stories-navigation
				+e('li').item
					+e('img')(src="img/storiesNavImg1.png").img
					+e('a')(href="/").link Mia
				+e('li').item
					+e('img')(src="img/storiesNavImg2.png").img
					+e('a')(href="/").link Genre
				+e('li').item
					+e('img')(src="img/storiesNavImg3.png").img
					+e('a')(href="/").link Genre
				+e('li').item
					+e('img')(src="img/storiesNavImg4.png").img
					+e('a')(href="/").link Genre
		+e.header
		+e.text