mixin b-stories()
	+b('div').stories
		+e.head
			+e('span').span Our trader's success stories
			+e('span').span Read every story
		+e.navigation
			+b-stories-nav()
		+e.header
			+e('h2').h2 How do I earn 30,000 euros per month in just a few work hours per week?
		+e.text
			+e('p').p My name is Mia, and I study for 3 years in Berlin. Immediately after admission, it seemed to me that the most difficult things are behind and cheerful student weekdays with friends, gatherings with beer and traveling for the weekends are waiting for me.
			+e('div').img-little
				+e('img').img(src="img/storyImg1.png")
			+e('p').p Lack of scholarships didn't make me worried because I was sure that there would be no problems to find a part time job.
			+e('p').p It was really easy to find waitress work position; just it was semi-impossible to combine work and study.
			+e('p').p At mornings, I ran to study then after classes ran to the library and at evenings spent hours at work in the coffee shop.
			+e('p').p At first, my parents helped me by paying the rent cost fully but one year later, my younger brother joined the university, and I had to cope by myself.p How could I manage walking with friends or traveling if I slept four hours a day? I thought it would never end: on weekends, I was working and catching up in the university what I missed, and during the weekdays, I studied and worked again.
			+e('p').p In the third year of this life, I no longer heard the alarm clock and even slept twice instead of important lectures. Then I was warned that if the situation does not change - I would be expelled.
			+e('p').p I didn't know what to do next. I rented a room far from the university, for a long time, I didn't buy new clothes, and in every possible way, I saved on food. I couldn't stop working, as in this case, I would have no living place, but I had no power anymore to combine work and study.
			+e('p').p First, I decided to find another highly paid job, but it turned out that there is a surplus of workers in the country. And after the recent events in Eastern Europe and the big amount of refugees, salaries of waitresses, secretaries, au pairs and even nannies dropped significantly. Now even my 10 Euros per hour seemed an excellent option.
			+e('p').p After one more failure, I was going to take a loan and ask family for the help, but my roommate saved me. I lived together with Marie for more than six months. She is beautiful, with brand clothes, cool haircut, and a new car; it seemed like an unattainable dream. I didn't understand for a long time why did she rent shared apartment while she clearly could afford more expensive housing.
			+e('p').p One evening, I couldn't stand and complained about my life to her. When Marie said that all my problems could be solved just in a week, I didn't believe it. Then she offered me to visit the iqoption.com website and to register there.
			+e('p').p Marie has been doing this for a year, and she really could move out to another flat, but she wants to have her own apartment, which she plans to buy after few months.
			+e('p').p I couldn't believe that by spending time on the Internet, you can earn that kind of money. However, I had Marie as a sample in front of me, and I decided to try all that. Just in one night, I got as much as I get for a week of exhausting work, just here, there were no heavy trays, night shifts, unfriendly visitors nor spilled coffee on the apron. I’m no longer dependent on tips; I shouldn't smile for hours and wear an awful green uniform.
			+e('div').img-big
				+e('img').img(src="img/storyImg2.png")
			+e('p').p When I woke up next morning, I was sure that all this was a dream, and today again will repeat my typical day: university, library, and hateful work.
			+e('p').p Nevertheless, when I checked my e-wallet, I realized that my life had changed dramatically, and it will never be again as before.
			+e('p').p The same evening, I spoke with the owner of the coffee shop and stopped working there. Spending just 4 hours every day, I could not only provide myself with all necessary things, but I could remind about my dreams.
			+e('p').p I did not see the world around me and people for three years. I needed only a week on the iqoption.com website to finally find friends at the university, join the gym, and buy a bicycle.
			+e('p').p A month later, I went with friends to Paris, and in two months, I started to help my parents and brother financially.
			+e('p').p Besides, I got more time to study. Since I registered on iqoption.com, I haven't missed a single lecture, and quickly became one of the best students.
			+e('p').p There were no more sleepless nights, constant fatigue, and feeling that I’m 90 years old. I felt like a young girl who can do anything.
			+e('p').p I often didn't pay attention to the messages in the network related to the work; I was laughing on those who believed that 200 Euros could be earned easily in just a few hours that I could miss a chance.
			+e('div').img-big
				+e('img').img(src="img/storyImg3.png")
			+e('p').p For what to suffer on a low paid job, if you can earn big money without leaving home? If I could do this, then you also can.
			+e('p').p The main thing is to believe in yourself and don't give up. By sitting at home and suffering, you will never change your life.
			+e('p').p I know how hard it is to work and learn at the same time, that's why I wanted to share my story.
			+e('p').p It is real to earn 30,000 Euros per month in just a few hours of work per week; you don't need large initial investments for this, or special education, or large experience.
			+e('p').p You can save over the years and work around the clock, or you can just try your hands at binary options.