@import url('https://fonts.googleapis.com/css?family=Montserrat');

body
  display flex
  flex-direction column
  justify-content center
  align-items center
.main
  background-color #f4f4f4
  width 1280px
  display flex
  flex-direction row
  justify-content space-between
.stories
  width 887px
  background-color #ffffff
  margin 30px
  &__head
    height 79px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
  &__span
    color #878787
    font-family 'Montserrat', sans-serif;
    font-size 18px
    font-weight 400
.stories-navigation
  display flex
  justify-content space-around
  &__item
    height 164px
    display flex
    flex-direction column
    justify-content space-between
    align-items center