.sidebar
  margin-top 30px
  width 330px
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  background-color #ffffff
.is-active
  background-color #f4f4f4
  pointer-events none
.ul
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 0
  margin 0
  &__navigation-item
    min-width 330px
    height 200px
    display flex
    flex-direction column
    justify-content center
    align-items center
  &__span
    height 24px
    color #878787
    font-family 'Montserrat', sans-serif;
    font-size 24px
    font-weight 400
    text-decoration underline
    margin-top 21px
  &__link
    display flex
    flex-direction column
    justify-content center
    align-items center