.sidebar
  margin-top 30px
  width 330px
  flex-box(flex, column, flex-start, center)
  background-color #ffffff
.is-active
  background-color #f4f4f4
  pointer-events none
.ul
  flex-box(flex, column, center, center)
  padding 0
  margin 0
  &__navigation-item
    min-width 330px
    height 200px
    flex-box(flex, column, center, center)
  &__span
    height 24px
    color #878787
    font-family 'Montserrat', sans-serif;
    font-size 24px
    font-weight 400
    text-decoration underline
    margin-top 21px
  &__link
    flex-box(flex, column, center, center)
    width 100%
    height 100%