.header
  height 81px
  width 1280px
  background-color #85c8fe
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  &__logo
    background-color #fefefe
    height 81px
    width 330px
    display flex
    flex-direction column
    justify-content center
    align-items center
  &__text
    width 421px
    height 24px
    padding-right 250px
    color #ffffff
    font-family 'Montserrat', sans-serif;
    font-size 24px
    font-weight 400
  &__button
    width 134px
    height 45px
    border-radius 5px
    background-color #ff6b01
    margin-right 69px
    display flex
    flex-direction column
    justify-content center
    align-items center
  &__btn-link
    color #ffffff
    font-family 'Montserrat', sans-serif;
    font-size 24px
    font-weight 400
    text-decoration none