include  ../block/index
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title barba project

	body

		block header

		main.main
			block sidebar

			block main

		link(rel="stylesheet" href="css/reset.css")
		link(rel="stylesheet" href="css/main.css")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/0.0.10/barba.min.js")
		script(type="text/javascript" src="js/main.js")